WCF_In_ConsoleApp/WCF_In_ConsoleApp/Connected Services/GSSMSService/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://gsivm-svr-devscm.gurusoft.dev:9503/PRDG11EISMWSMSService/Service.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="DataManipulationR1V1">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="objDataSet" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="objDataSetStringInfo" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DataManipulationR1V1Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DataManipulationR1V1Result" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="intErrorCount" type="xs:int" />
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="stringOutputResult" nillable="true" type="q1:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="List1R1V1">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="stringExpression" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="stringOrderBy" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="intRecordFrom" type="xs:int" />
        <xs:element minOccurs="0" name="intRecordTo" type="xs:int" />
        <xs:element minOccurs="0" name="objDataSetStringInfo" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="List1R1V1Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="List1R1V1Result" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="intRecordCount" type="xs:int" />
        <xs:element minOccurs="0" name="intErrorCount" type="xs:int" />
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="stringOutputResult" nillable="true" type="q2:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="List2R1V1">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="stringExpression" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="stringOrderBy" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="intRecordFrom" type="xs:int" />
        <xs:element minOccurs="0" name="intRecordTo" type="xs:int" />
        <xs:element minOccurs="0" name="objDataSetStringInfo" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="List2R1V1Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="List2R1V1Result" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="intRecordCount" type="xs:int" />
        <xs:element minOccurs="0" name="intErrorCount" type="xs:int" />
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="stringOutputResult" nillable="true" type="q3:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="List3R1V1">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="stringExpression" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="stringOrderBy" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="intRecordFrom" type="xs:int" />
        <xs:element minOccurs="0" name="intRecordTo" type="xs:int" />
        <xs:element minOccurs="0" name="objDataSetStringInfo" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="List3R1V1Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="List3R1V1Result" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="intRecordCount" type="xs:int" />
        <xs:element minOccurs="0" name="intErrorCount" type="xs:int" />
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="stringOutputResult" nillable="true" type="q4:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="List4R1V1">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="stringExpression" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="stringOrderBy" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="intRecordFrom" type="xs:int" />
        <xs:element minOccurs="0" name="intRecordTo" type="xs:int" />
        <xs:element minOccurs="0" name="objDataSetStringInfo" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="List4R1V1Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="List4R1V1Result" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="intRecordCount" type="xs:int" />
        <xs:element minOccurs="0" name="intErrorCount" type="xs:int" />
        <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="stringOutputResult" nillable="true" type="q5:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="List5R1V1">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="stringExpression" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="stringOrderBy" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="intRecordFrom" type="xs:int" />
        <xs:element minOccurs="0" name="intRecordTo" type="xs:int" />
        <xs:element minOccurs="0" name="objDataSetStringInfo" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="List5R1V1Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="List5R1V1Result" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="intRecordCount" type="xs:int" />
        <xs:element minOccurs="0" name="intErrorCount" type="xs:int" />
        <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="stringOutputResult" nillable="true" type="q6:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListRecordCountR1V1">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tableName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="stringExpression" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="condition" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="objDataSetStringInfo" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListRecordCountR1V1Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ListRecordCountR1V1Result" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="intRecordCount" type="xs:int" />
        <xs:element minOccurs="0" name="intErrorCount" type="xs:int" />
        <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="stringOutputResult" nillable="true" type="q7:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListR2V1">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="stringInputValues" nillable="true" type="q8:ArrayOfstring" />
        <xs:element minOccurs="0" name="stringExpression" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="stringOrderBy" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="intRecordFrom" type="xs:int" />
        <xs:element minOccurs="0" name="intRecordTo" type="xs:int" />
        <xs:element minOccurs="0" name="objDataSetStringInfo" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListR2V1Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ListR2V1Result" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="intRecordCount" type="xs:int" />
        <xs:element minOccurs="0" name="intErrorCount" type="xs:int" />
        <xs:element xmlns:q9="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="stringOutputResult" nillable="true" type="q9:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSMSDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="stringType" nillable="true" type="xs:string" />
        <xs:element xmlns:q10="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="stringInputValues" nillable="true" type="q10:ArrayOfstring" />
        <xs:element minOccurs="0" name="objDataSetInput" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="objDataSetStringInfo" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSMSDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateSMSDetailsResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="intErrorCount" type="xs:int" />
        <xs:element xmlns:q11="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="stringOutputResult" nillable="true" type="q11:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSMSDetailsR1V1">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="stringType" nillable="true" type="xs:string" />
        <xs:element xmlns:q12="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="stringInputValues" nillable="true" type="q12:ArrayOfstring" />
        <xs:element minOccurs="0" name="objDataSetInput" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="objDataSetStringInfo" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSMSDetailsR1V1Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateSMSDetailsR1V1Result" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="intErrorCount" type="xs:int" />
        <xs:element xmlns:q13="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="stringOutputResult" nillable="true" type="q13:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListSMSDetailsR1V1">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="stringType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="stringExpression" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="stringOrderBy" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="intRecordFrom" type="xs:int" />
        <xs:element minOccurs="0" name="intRecordTo" type="xs:int" />
        <xs:element minOccurs="0" name="objDataSetStringInfo" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListSMSDetailsR1V1Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ListSMSDetailsR1V1Result" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="intRecordCount" type="xs:int" />
        <xs:element minOccurs="0" name="intErrorCount" type="xs:int" />
        <xs:element xmlns:q14="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="stringOutputResult" nillable="true" type="q14:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListSMSDetailsR2V1">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="stringInputValues" nillable="true" type="q15:ArrayOfstring" />
        <xs:element minOccurs="0" name="stringType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="stringExpression" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="stringOrderBy" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="intRecordFrom" type="xs:int" />
        <xs:element minOccurs="0" name="intRecordTo" type="xs:int" />
        <xs:element minOccurs="0" name="objDataSetStringInfo" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListSMSDetailsR2V1Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ListSMSDetailsR2V1Result" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="intRecordCount" type="xs:int" />
        <xs:element minOccurs="0" name="intErrorCount" type="xs:int" />
        <xs:element xmlns:q16="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="stringOutputResult" nillable="true" type="q16:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportToExcelLastRecordR1V1">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="stringId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="stringExportname" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="objDataSetStringInfo" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportToExcelLastRecordR1V1Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExportToExcelLastRecordR1V1Result" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="objbyteArray" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="intErrorCount" type="xs:int" />
        <xs:element xmlns:q17="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="stringOutputResult" nillable="true" type="q17:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportCommonWindowToExcelR1V1">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="stringFunctionName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="stringExpression" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="stringOrderBy" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="stringExportName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="objDataSetStringInfo" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportCommonWindowToExcelR1V1Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExportCommonWindowToExcelR1V1Result" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="objbyteArray" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="intErrorCount" type="xs:int" />
        <xs:element xmlns:q18="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="stringOutputResult" nillable="true" type="q18:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportSearchToExcelR1V1">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="stringFunctionName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="stringExpression" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="stringOrderBy" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="stringExportName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="objDataSetStringInfo" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportSearchToExcelR1V1Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExportSearchToExcelR1V1Result" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="objbyteArray" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="intErrorCount" type="xs:int" />
        <xs:element xmlns:q19="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="stringOutputResult" nillable="true" type="q19:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>