WCF_In_ConsoleApp/WCF_In_ConsoleApp/Connected Services/G11EOSSelectionService/Service4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://gsivm-svr-devscm.gurusoft.dev:9403/PRDG11EOSMWSelectionService_Web/Service.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="https://gsivm-svr-devscm.gurusoft.dev:9403/PRDG11EOSMWSelectionService_Web/Service.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System.Data" />
  <xs:element name="ChangePasswordR1V1">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="stringOldPassword" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="stringNewPassword" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="objDataSetStringInfo" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangePasswordR1V1Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ChangePasswordR1V1Result" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="intErrorCount" type="xs:int" />
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="stringOutputResult" nillable="true" type="q1:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateUserLoginFromDB">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="stringUserID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="stringPassword" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="objDataSetStringInfo" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateUserLoginFromDBResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ValidateUserLoginFromDBResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="intErrorCount" type="xs:int" />
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="stringOutputResult" nillable="true" type="q2:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangePasswordR1V2">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="stringOldPassword" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="stringNewPassword" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="objDataSetStringInfo" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangePasswordR1V2Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ChangePasswordR1V2Result" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="intErrorCount" type="xs:int" />
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="stringOutputResult" nillable="true" type="q3:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReteriveServerLinkR1V1">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="objDataSet" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReteriveServerLinkR1V1Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ReteriveServerLinkR1V1Result" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="intErrorCount" type="xs:int" />
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="stringOutputResult" nillable="true" type="q4:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReteriveVersionNoR1V1">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="objDataSetStringInfo" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReteriveVersionNoR1V1Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ReteriveVersionNoR1V1Result" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="intErrorCount" type="xs:int" />
        <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="stringVersionInfo" nillable="true" type="q5:ArrayOfstring" />
        <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="stringOutputResult" nillable="true" type="q6:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveLOV1R1V1">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="stringExpression" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="stringOrderBy" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="intRecordFrom" type="xs:int" />
        <xs:element minOccurs="0" name="intRecordTo" type="xs:int" />
        <xs:element minOccurs="0" name="objDataSetStringInfo" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveLOV1R1V1Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RetrieveLOV1R1V1Result" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="intRecordCount" type="xs:int" />
        <xs:element minOccurs="0" name="intErrorCount" type="xs:int" />
        <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="stringOutputResult" nillable="true" type="q7:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReteriveLOV2R1V1">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="stringID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="stringExpression" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="stringOrderBy" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="intRecordFrom" type="xs:int" />
        <xs:element minOccurs="0" name="intRecordTo" type="xs:int" />
        <xs:element minOccurs="0" name="objDataSetStringInfo" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReteriveLOV2R1V1Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ReteriveLOV2R1V1Result" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="intRecordCount" type="xs:int" />
        <xs:element minOccurs="0" name="intErrorCount" type="xs:int" />
        <xs:element xmlns:q8="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="stringOutputResult" nillable="true" type="q8:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReteriveLOV3R1V1">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="stringType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="stringExpression" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="stringOrderBy" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="intRecordFrom" type="xs:int" />
        <xs:element minOccurs="0" name="intRecordTo" type="xs:int" />
        <xs:element minOccurs="0" name="objDataSetStringInfo" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReteriveLOV3R1V1Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ReteriveLOV3R1V1Result" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="intRecordCount" type="xs:int" />
        <xs:element minOccurs="0" name="intErrorCount" type="xs:int" />
        <xs:element xmlns:q9="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="stringOutputResult" nillable="true" type="q9:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReteriveLOV4R1V1">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="stringID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="stringType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="stringExpression" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="stringOrderBy" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="intRecordFrom" type="xs:int" />
        <xs:element minOccurs="0" name="intRecordTo" type="xs:int" />
        <xs:element minOccurs="0" name="objDataSetStringInfo" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReteriveLOV4R1V1Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ReteriveLOV4R1V1Result" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="intRecordCount" type="xs:int" />
        <xs:element minOccurs="0" name="intErrorCount" type="xs:int" />
        <xs:element xmlns:q10="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="stringOutputResult" nillable="true" type="q10:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReteriveLOV5R1V1">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="stringID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="stringID_1" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="stringType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="stringExpression" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="stringOrderBy" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="intRecordFrom" type="xs:int" />
        <xs:element minOccurs="0" name="intRecordTo" type="xs:int" />
        <xs:element minOccurs="0" name="objDataSetStringInfo" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReteriveLOV5R1V1Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ReteriveLOV5R1V1Result" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="intRecordCount" type="xs:int" />
        <xs:element minOccurs="0" name="intErrorCount" type="xs:int" />
        <xs:element xmlns:q11="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="stringOutputResult" nillable="true" type="q11:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReteriveLOV6R1V1">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="stringInputValues" nillable="true" type="q12:ArrayOfstring" />
        <xs:element minOccurs="0" name="stringExpression" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="stringOrderBy" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="intRecordFrom" type="xs:int" />
        <xs:element minOccurs="0" name="intRecordTo" type="xs:int" />
        <xs:element minOccurs="0" name="objDataSetStringInfo" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReteriveLOV6R1V1Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ReteriveLOV6R1V1Result" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="intRecordCount" type="xs:int" />
        <xs:element minOccurs="0" name="intErrorCount" type="xs:int" />
        <xs:element xmlns:q13="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="stringOutputResult" nillable="true" type="q13:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReteriveYardLocationLOVR1V1">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="stringInputValues" nillable="true" type="q14:ArrayOfstring" />
        <xs:element minOccurs="0" name="stringExpression" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="stringOrderBy" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="intRecordFrom" type="xs:int" />
        <xs:element minOccurs="0" name="intRecordTo" type="xs:int" />
        <xs:element minOccurs="0" name="objDataSetStringInfo" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReteriveYardLocationLOVR1V1Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ReteriveYardLocationLOVR1V1Result" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="intRecordCount" type="xs:int" />
        <xs:element minOccurs="0" name="intErrorCount" type="xs:int" />
        <xs:element xmlns:q15="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="stringOutputResult" nillable="true" type="q15:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReteriveDBConnectionR1V1">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="objDataSetStringInfo" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReteriveDBConnectionR1V1Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ReteriveDBConnectionR1V1Result" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="intErrorCount" type="xs:int" />
        <xs:element xmlns:q16="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="stringOutputResult" nillable="true" type="q16:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ServerThisMthStartEndDateR1V1">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="objDataSetStringInfo" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ServerThisMthStartEndDateR1V1Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ServerThisMthStartEndDateR1V1Result" type="xs:int" />
        <xs:element minOccurs="0" name="stringStartDate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="stringEndDate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="stringYear" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="intErrorCount" type="xs:int" />
        <xs:element xmlns:q17="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="stringOutputResult" nillable="true" type="q17:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveEndOfMonthR1V1">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="intMonth" type="xs:int" />
        <xs:element minOccurs="0" name="intYear" type="xs:int" />
        <xs:element minOccurs="0" name="objDataSetStringInfo" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveEndOfMonthR1V1Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RetrieveEndOfMonthR1V1Result" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="intErrorCount" type="xs:int" />
        <xs:element xmlns:q18="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="stringOutputResult" nillable="true" type="q18:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveStartOfMonthR1V1">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="intMonth" type="xs:int" />
        <xs:element minOccurs="0" name="intYear" type="xs:int" />
        <xs:element minOccurs="0" name="objDataSetStringInfo" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveStartOfMonthR1V1Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RetrieveStartOfMonthR1V1Result" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="intErrorCount" type="xs:int" />
        <xs:element xmlns:q19="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="stringOutputResult" nillable="true" type="q19:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataTableDefaultValue">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="objDataSetStringInfo" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataTableDefaultValueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDataTableDefaultValueResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="intErrorCount" type="xs:int" />
        <xs:element xmlns:q20="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="stringOutputResult" nillable="true" type="q20:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MasterValidateCountR1V1">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="stringTableName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="stringExpression" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="stringOrderBy" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="objDataSetStringInfo" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MasterValidateCountR1V1Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MasterValidateCountR1V1Result" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="intRecordCount" type="xs:int" />
        <xs:element minOccurs="0" name="intErrorCount" type="xs:int" />
        <xs:element xmlns:q21="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="stringOutputResult" nillable="true" type="q21:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveMasterTableDetailsR1V1">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="stringFieldSource" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="stringExpression" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="intRecordFrom" type="xs:int" />
        <xs:element minOccurs="0" name="intRecordTo" type="xs:int" />
        <xs:element minOccurs="0" name="objDataSetStringInfo" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveMasterTableDetailsR1V1Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RetrieveMasterTableDetailsR1V1Result" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="intTotalRecord" type="xs:int" />
        <xs:element minOccurs="0" name="intErrorCount" type="xs:int" />
        <xs:element xmlns:q22="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="stringOutputResult" nillable="true" type="q22:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserSettingsR1V2">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="objDataSetStringInfo" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserSettingsR1V2Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetUserSettingsR1V2Result" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="intErrorCount" type="xs:int" />
        <xs:element xmlns:q23="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="stringOutputResult" nillable="true" type="q23:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ServerDefaultDateTime">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="objDataSetStringInfo" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ServerDefaultDateTimeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ServerDefaultDateTimeResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="stringNowTime" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="stringUtcTime" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="stringTimeZone" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="intErrorCount" type="xs:int" />
        <xs:element xmlns:q24="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="stringOutputResult" nillable="true" type="q24:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReteriveGetPickLocationLOVR1V1">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="stringBeI_ID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="stringBecusID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="stringBeSupId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="stringBeDCID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="stringBeoID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="stringbaseuomid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="stringtransuomid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="stringweightuomid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="stringvolumeuomid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="stringBeiqtID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="stringLotNO" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="stringBatchNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="stringBespID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="stringLoctype" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="stringColorID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="stringSerialNO" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="stringExpression" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="stringOrderBy" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="intRecordFrom" type="xs:int" />
        <xs:element minOccurs="0" name="intRecordTo" type="xs:int" />
        <xs:element minOccurs="0" name="objDataSetStringInfo" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReteriveGetPickLocationLOVR1V1Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ReteriveGetPickLocationLOVR1V1Result" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="intRecordCount" type="xs:int" />
        <xs:element minOccurs="0" name="intErrorCount" type="xs:int" />
        <xs:element xmlns:q25="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="stringOutputResult" nillable="true" type="q25:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReteriveGetLocationLOVR1V1">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="stringBeI_ID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="stringBecusID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="stringBeSupId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="stringBeDCID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="stringBeoID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="stringbaseuomid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="stringtransuomid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="stringweightuomid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="stringvolumeuomid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="stringBeiqtID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="stringLotNO" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="stringBatchNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="stringBespID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="stringLoctype" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="stringColorID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="stringSerialNO" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="stringExpression" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="stringOrderBy" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="intRecordFrom" type="xs:int" />
        <xs:element minOccurs="0" name="intRecordTo" type="xs:int" />
        <xs:element minOccurs="0" name="objDataSetStringInfo" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReteriveGetLocationLOVR1V1Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ReteriveGetLocationLOVR1V1Result" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="intRecordCount" type="xs:int" />
        <xs:element minOccurs="0" name="intErrorCount" type="xs:int" />
        <xs:element xmlns:q26="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="stringOutputResult" nillable="true" type="q26:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReteriveOutStandingBillR1V1">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="stringInputValues" nillable="true" type="q27:ArrayOfstring" />
        <xs:element minOccurs="0" name="stringExpression" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="intRecordFrom" type="xs:int" />
        <xs:element minOccurs="0" name="intRecordTo" type="xs:int" />
        <xs:element minOccurs="0" name="objDataSetStringInfo" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReteriveOutStandingBillR1V1Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ReteriveOutStandingBillR1V1Result" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="doubleBalAmt" type="xs:double" />
        <xs:element minOccurs="0" name="intRecordCount" type="xs:int" />
        <xs:element minOccurs="0" name="intErrorCount" type="xs:int" />
        <xs:element xmlns:q28="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="stringOutputResult" nillable="true" type="q28:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReteriveSingleExrateLOVR1V1">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="stringInputValues" nillable="true" type="q29:ArrayOfstring" />
        <xs:element minOccurs="0" name="objDataSetStringInfo" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReteriveSingleExrateLOVR1V1Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ReteriveSingleExrateLOVR1V1Result" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="intBuyRate" type="xs:int" />
        <xs:element minOccurs="0" name="intRate" type="xs:int" />
        <xs:element minOccurs="0" name="intErrorCount" type="xs:int" />
        <xs:element xmlns:q30="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="stringOutputResult" nillable="true" type="q30:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReportingToolsSettingsR1V1">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="objDataSetStringInfo" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="stringClientExpression" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="intFrom" type="xs:int" />
        <xs:element minOccurs="0" name="intTo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReportingToolsSettingsR1V1Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetReportingToolsSettingsR1V1Result" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="intTotal" type="xs:int" />
        <xs:element minOccurs="0" name="intErrorCount" type="xs:int" />
        <xs:element xmlns:q31="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="stringOutputResult" nillable="true" type="q31:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReportingToolsVersionsR1V1">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="objDataSetStringInfo" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="stringReportID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="stringClientExpression" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="intFrom" type="xs:int" />
        <xs:element minOccurs="0" name="intTo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReportingToolsVersionsR1V1Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetReportingToolsVersionsR1V1Result" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="intTotal" type="xs:int" />
        <xs:element minOccurs="0" name="intErrorCount" type="xs:int" />
        <xs:element xmlns:q32="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="stringOutputResult" nillable="true" type="q32:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DataManipulationReportingToolsSettingsR1V1">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="objDataSetStringInfo" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="objDataSetDML" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="stringReportId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="stringReportName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="stringProcessStatus" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DataManipulationReportingToolsSettingsR1V1Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DataManipulationReportingToolsSettingsR1V1Result" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="intErrorCount" type="xs:int" />
        <xs:element xmlns:q33="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="stringOutputResult" nillable="true" type="q33:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReportingToolArgumentsTableR1V1">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="objDataSetStringInfo" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="stringReportId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReportingToolArgumentsTableR1V1Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetReportingToolArgumentsTableR1V1Result" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="intErrorCount" type="xs:int" />
        <xs:element xmlns:q34="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="stringOutputResult" nillable="true" type="q34:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReportingToolsAccessSettingsR1V1">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="objDataSetStringInfo" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="stringClientExpression" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReportingToolsAccessSettingsR1V1Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetReportingToolsAccessSettingsR1V1Result" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="intErrorCount" type="xs:int" />
        <xs:element xmlns:q35="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="stringOutputResult" nillable="true" type="q35:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReportUserSettingTableR1V1">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="objDataSetStringInfo" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="stringXMLName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="stringModuleName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReportUserSettingTableR1V1Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetReportUserSettingTableR1V1Result" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="stringAvailability" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="intErrorCount" type="xs:int" />
        <xs:element xmlns:q36="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="stringOutputResult" nillable="true" type="q36:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReportingToolsVersionSettingsR1V1">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="objDataSetStringInfo" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="stringReportID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="stringClientExpression" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="intFrom" type="xs:int" />
        <xs:element minOccurs="0" name="intTo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReportingToolsVersionSettingsR1V1Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetReportingToolsVersionSettingsR1V1Result" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="intTotal" type="xs:int" />
        <xs:element minOccurs="0" name="intErrorCount" type="xs:int" />
        <xs:element xmlns:q37="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="stringOutputResult" nillable="true" type="q37:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServerReportingToolsSettingsR1V1">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="stringInfo" nillable="true" type="q38:ArrayOfstring" />
        <xs:element minOccurs="0" name="stringClientExpression" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="intFrom" type="xs:int" />
        <xs:element minOccurs="0" name="intTo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServerReportingToolsSettingsR1V1Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetServerReportingToolsSettingsR1V1Result" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="intTotal" type="xs:int" />
        <xs:element minOccurs="0" name="stringStatus" nillable="true" type="xs:string" />
        <xs:element xmlns:q39="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="stringOutputResult" nillable="true" type="q39:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServerReportingToolArgumentsTableR1V1">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="stringInfo" nillable="true" type="q40:ArrayOfstring" />
        <xs:element minOccurs="0" name="stringReportId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServerReportingToolArgumentsTableR1V1Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetServerReportingToolArgumentsTableR1V1Result" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="stringStatus" nillable="true" type="xs:string" />
        <xs:element xmlns:q41="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="stringOutputResult" nillable="true" type="q41:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServerReportingToolsAccessSettingsR1V1">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="stringInfo" nillable="true" type="q42:ArrayOfstring" />
        <xs:element minOccurs="0" name="stringClientExpression" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServerReportingToolsAccessSettingsR1V1Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetServerReportingToolsAccessSettingsR1V1Result" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="stringStatus" nillable="true" type="xs:string" />
        <xs:element xmlns:q43="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="stringOutputResult" nillable="true" type="q43:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServerReportUserSettingTableR1V1">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="stringInfo" nillable="true" type="q44:ArrayOfstring" />
        <xs:element minOccurs="0" name="stringXMLName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="stringModuleName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServerReportUserSettingTableR1V1Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetServerReportUserSettingTableR1V1Result" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="stringAvailability" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="stringStatus" nillable="true" type="xs:string" />
        <xs:element xmlns:q45="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="stringOutputResult" nillable="true" type="q45:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListCustomerR1V1">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="stringExpression" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="stringOrderBy" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="intRecordFrom" type="xs:int" />
        <xs:element minOccurs="0" name="intRecordTo" type="xs:int" />
        <xs:element xmlns:q46="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="stringInfo" nillable="true" type="q46:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListCustomerR1V1Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ListCustomerR1V1Result" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="intRecordCount" type="xs:int" />
        <xs:element minOccurs="0" name="stringStatus" nillable="true" type="xs:string" />
        <xs:element xmlns:q47="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="stringOutputResult" nillable="true" type="q47:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListWarehouseR1V1">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="stringExpression" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="stringOrderBy" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="intRecordFrom" type="xs:int" />
        <xs:element minOccurs="0" name="intRecordTo" type="xs:int" />
        <xs:element xmlns:q48="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="stringInfo" nillable="true" type="q48:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListWarehouseR1V1Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ListWarehouseR1V1Result" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="intRecordCount" type="xs:int" />
        <xs:element minOccurs="0" name="stringStatus" nillable="true" type="xs:string" />
        <xs:element xmlns:q49="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="stringOutputResult" nillable="true" type="q49:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAutotaskconfigTableR1V1">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="objDataSetStringInfo" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="stringExpression" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAutotaskconfigTableR1V1Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetAutotaskconfigTableR1V1Result" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="intErrorCount" type="xs:int" />
        <xs:element xmlns:q50="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="stringOutputResult" nillable="true" type="q50:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetComponentAccessPolicyR1V1">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q51="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="stringComponentID" nillable="true" type="q51:ArrayOfstring" />
        <xs:element minOccurs="0" name="objDataSetStringInfo" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetComponentAccessPolicyR1V1Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetComponentAccessPolicyR1V1Result" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="intErrorCount" type="xs:int" />
        <xs:element xmlns:q52="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="stringOutputResult" nillable="true" type="q52:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDocReportAccessPolicyR1V1">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="stringComponentID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="objDataSetStringInfo" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDocReportAccessPolicyR1V1Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDocReportAccessPolicyR1V1Result" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="intErrorCount" type="xs:int" />
        <xs:element xmlns:q53="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="stringOutputResult" nillable="true" type="q53:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUIRelatedTablesR1V1">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="stringLanguage" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="stringUser" nillable="true" type="xs:string" />
        <xs:element xmlns:q54="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="stringInfo" nillable="true" type="q54:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUIRelatedTablesR1V1Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q55="http://schemas.datacontract.org/2004/07/System.Data" minOccurs="0" name="GetUIRelatedTablesR1V1Result" nillable="true" type="q55:ArrayOfDataSet" />
        <xs:element minOccurs="0" name="stringstatus" nillable="true" type="xs:string" />
        <xs:element xmlns:q56="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="stringOutputResult" nillable="true" type="q56:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCompanyLogoR1V1">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="objDataSetStringInfo" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCompanyLogoR1V1Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCompanyLogoR1V1Result" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="objbyteArray" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="intErrorCount" type="xs:int" />
        <xs:element xmlns:q57="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="stringOutputResult" nillable="true" type="q57:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>